streamlit
azure-ai-documentintelligence
azure-cognitiveservices-vision-face
Pillow
python-dotenv
requests 
opencv-python 
numpy
azure-core
azure-cognitiveservices-vision-face
fastapi
pydantic
uvicorn
python-multipart
imutils
scipy 
scikit-image 
opencv-contrib-python
ultralytics
